.DefaultColorButton {
    margin: 30px;
    padding: 3px 15px;
    cursor: pointer;
    text-decoration: none;
    background: #313131 none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    color: #f1f1f1;
    transform: scale(1.5);
    font: inherit;
    border: none;
    transition: transform 100ms ease-out;
}

.RedColorButton {
    margin: 30px;
    padding: 3px 15px;
    cursor: pointer;
    text-decoration: none;
    background: crimson none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    color: black;
    transform: scale(1.5);
    font: inherit;
    border: none;
    transition: transform 100ms ease-out;
}

.DefaultColorButton:hover  {
    transform: scale(1.9);
}
.DefaultColorButton:active {
    transform: scale(1.3);
}

.RedColorButton:hover  {
    transform: scale(1.9);
}
.RedColorButton:active {
    transform: scale(1.3);
}
