@font-face {
  font-family: "Lemon";
  font-style: normal;
  src: url("./lemon_milk/LEMONMILK-Regular.otf");
}

@font-face {
  font-family: "Tommy";
  font-style: normal;
  src: url("./made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf");
}
