.GeneratePaper{
    display: flex;
    flex-flow: row;
    align-content: space-between;
    width: 100%;
}

.AdditionalDetails {
    display: flex;
    flex-flow: column;
    margin: 2vw 5vw 3vw 0;
    transition: all 300ms ease-in;
}

.AdditionalDetailsControls {
    display: flex;
    flex-flow: column;
    margin: 40px 0 40px 0;
    border: 2px solid #313131;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 50px;
}

.AdditionalDetailsControl {
    display: flex;
    flex-flow: row;
    width: 80%;
    align-content: space-between;
    margin-bottom: 30px;
}

.DataLists {
    width: 40vw;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    margin: 50px 25px;

}

.SubjectRevealEnter {
    opacity: 0.01;
    transform: translateX(-30px);
}

.SubjectRevealEnterActive {
    opacity: 1;
    transform: translateX(30px);
}

.OptionsRevealEnter {
    opacity: 0.01;
    transform: translateX(-30px);
}

.OptionsRevealEnterActive {
    opacity: 1;
    transform: translateX(30px);
}

.DataList {
    margin: 0 100px;
    transition: all 300ms ease-in;
}