.Button {
    margin: auto;
    padding: .3vw 1.5vw;
    background: none;
    cursor: pointer;
    text-decoration: none;
    border:solid 5px #52E5AA;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    color: #52E5AA;
    font-family: 'Raleway';
    font-size: 2vw;
}

.Button:hover {
    background-color: #52E5AA;
    color: #670A67;
}