.Switch {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.SwitchLabel {
  font-family: "Raleway";
  font-size: 10px;
  color: #313131;
}

.SwitchLabelWhite {
  font-family: "Raleway";
  font-size: 10px;
  color: white;
}
