.AddQuestion {
  font-family: "Raleway";
}
.Editor {
  border: 1px solid #313131;
  background-color: #f1f1f1;
  height: 500px;
  width: 100%;
  color: #313131;
  font-size: 2rem;
  padding: 20px;
}

.TypeComponents {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  width: 500px;
  align-content: space-between;
  align-items: center;
}

.EditorWrapper {
  margin: 0 10px;
}
.ConfigBtn {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.ConfigPanel {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #313131;
  margin: 10px;
}

@media (max-width: 700px) {
  .TypeComponents {
    width: 100%;
    margin: 0;
    flex-flow: column;
    align-items: center;
  }
}
