
.AddQuestion {
    font-family: 'Raleway';
}
.Editor {
    background-color: #52E5AA;
    height: 500px;
    width: 100%;
    color: #670A67;
    font-size: 2rem;
}

.TypeComponents {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    width: 500px;
    align-content: space-between;
}
