.Editor {
  font-family: "Raleway";
  box-sizing: border-box;
  padding: 20px;
}
.Wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.editorInfo {
  margin: 10px;
}
