.SelectQuestions {
    margin: 0;
}

.SelectedSectionComponent {
    margin: 70px;
    width: 500px;
    display: flex;
    flex-flow: row;
    align-content: space-between;
}

.QuestionSelectionArea {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: auto;
}

.ExpandableComponent {
    width: 100vw;
    margin: 0;
}

.QuestionSelectionControls {
    position: fixed;
    right: 1px;
    width: 14vw;
    margin-right: 20px;
}

.RelativeWrapper {
    position: relative;
}

.Label {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #313131;
}

#MarksLeft {
    margin-left: 100px;
}