.Header {
    display: flex;
    flex-flow: column;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;

}

.Heading {
    font-size: 1.5rem;
    margin-bottom: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.SubHeading {
    font-size: 1.2rem;
    margin-bottom: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}