.LoginForm {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.FormComponents {
    display: flex;
    flex-flow: column;
    border: 2px solid #52E5AA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 35vw;
    margin-top: 10vw;
    margin-bottom: 10px;
}

.FormComponent {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}
.SignUpPrompt {
    display: flex;
    flex-flow: row;
    align-content: center;
}
