@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
.CenteredDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.Options {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #52E5AA;
    border-radius: 30px;
    width: 20vw;
    height: 25vw;
    align-items: center;
}

.Options a {
    font-family: 'Luckiest Guy';
    text-decoration: none;
    color: #670A67;
    font-size: 3rem;
    font-weight: 700;
    margin: 1.7vw 0;
    padding: 10px 30px;
    border: 5px solid transparent;
}

.Options a:hover {
    border: 5px solid #670A67;
    border-radius: 10px;
    background-color: #670A67;
    color: #52E5AA;
}