@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
.CenteredDiv {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.Options {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  border: 2px solid #313131;
  border-radius: 30px;
  width: 20vw;
  height: 25vw;
  align-items: center;
}

.Options a {
  font-family: "Luckiest Guy";
  text-decoration: none;
  color: #313131;
  font-size: 3vw;
  font-weight: 700;
  margin: 1.7vw 0;
  padding: 0.1vw 1vw;
  border: 5px solid transparent;
  transition: transform 100ms ease-in;
}

.Options a:hover {
  transform: scale(1.2);
  border: 5px solid #313131;
  border-radius: 10px;
  background-color: #313131;
  color: #f1f1f1;
}
.StartPage {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-items: center;
}
.NavBar {
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #313131;
  color: #f1f1f1;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.NavText {
  font-family: "Raleway";
  font-size: 2rem;
  margin: 10px;
}
.NavControls {
  display: flex;
  flex-flow: row;
  background-color: #313131;
  align-items: flex-end;
  border: 1px solid #f1f1f1;
}
@media (max-width: 700px) {
  .Options {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    border-radius: 0px;
    width: 80%;
    height: 50%;
    align-items: center;
  }
  .Options a {
    font-family: "Lemon";
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border: 5px solid transparent;
    transition: transform 100ms ease-in;
  }
}
